apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.name }}-config
  labels:
    app: {{ .Values.app.name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-90"
data:
  application-kubernetes.yaml: |
    spring:
      datasource:
        url: jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.auth.database }}
        username: {{ .Values.postgresql.auth.username }}
        password: ${DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
          maximum-pool-size: {{ .Values.database.hikari.pool.maxSize }}
          minimum-idle: {{ .Values.database.hikari.minIdle }}
      
      liquibase:
        enabled: false

      kafka:
        bootstrap-servers: {{ .Values.endpoints.kafka.host }}.{{ .Values.endpoints.kafka.space }}.svc.cluster.local:{{ .Values.endpoints.kafka.port }}
        properties:
          security.protocol: SASL_PLAINTEXT
          sasl.mechanism: PLAIN
          sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="${KAFKA_PASSWORD}";

        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer         
      
      springdoc:
        api-docs:
          path: /v3/api-docs
        swagger-ui:
          path: /swagger-ui.html
        info:
          title: {{ .Values.app.name }} API
          version: {{ .Values.app.version }}
          description: {{ .Values.app.description }}

  application-job.yaml: |
    spring:
      datasource:
        url: jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.auth.database }}
        username: {{ .Values.postgresql.auth.username }}
        password: ${DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
          maximum-pool-size: {{ .Values.database.hikari.pool.maxSize }}
          minimum-idle: {{ .Values.database.hikari.minIdle }}
      
      liquibase:
        enabled: true
        change-log: classpath:db/changelog/db.changelog-master.yaml