apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-90"
data:
  application-kubernetes.yaml: |
    spring:
      application:
        name: api-gateway
      cloud:
        gateway:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            # Публичные эндпоинты аутентификации
            - id: auth-service
              uri: http://{{ .Values.endpoints.auth.release }}-{{ .Values.endpoints.auth.host }}.{{ .Values.endpoints.auth.space }}.svc.cluster.local:{{ .Values.endpoints.auth.port }}
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=2
              #  - name: CircuitBreaker
              #    args:
              #      name: authService
              #      fallbackUri: forward:/fallback/auth
            # Защищенные маршруты для других сервисов
            - id: user-service
              uri: http://{{ .Values.endpoints.users.release }}-{{ .Values.endpoints.users.host }}.{{ .Values.endpoints.users.space }}.svc.cluster.local:{{ .Values.endpoints.users.port }}
              predicates:
                - Path=/api/v1/user/**
              filters:
                - StripPrefix=2
                - name: AuthenticationFilter
              #  - name: CircuitBreaker
              #    args:
              #      name: userService
              #      fallbackUri: forward:/fallback/user
            - id: order-service
              uri: http://{{ .Values.endpoints.order.release }}-{{ .Values.endpoints.order.host }}.{{ .Values.endpoints.order.space }}.svc.cluster.local:{{ .Values.endpoints.order.port }}
              predicates:
                - Path=/api/v1/order/**
              filters:
                - StripPrefix=2
                - name: AuthenticationFilter
              #  - name: CircuitBreaker
              #    args:
              #      name: userService
              #      fallbackUri: forward:/fallback/user              
            - id: notif-service
              uri: http://{{ .Values.endpoints.notif.release }}-{{ .Values.endpoints.notif.host }}.{{ .Values.endpoints.notif.space }}.svc.cluster.local:{{ .Values.endpoints.notif.port }}
              predicates:
                - Path=/api/v1/notif/**
              filters:
                - StripPrefix=2
                - name: AuthenticationFilter
              #  - name: CircuitBreaker
              #    args:
              #      name: userService
              #      fallbackUri: forward:/fallback/user 
            - id: billing-service
              uri: http://{{ .Values.endpoints.bill.release }}-{{ .Values.endpoints.bill.host }}.{{ .Values.endpoints.bill.space }}.svc.cluster.local:{{ .Values.endpoints.bill.port }}
              predicates:
                - Path=/api/v1/billing/**
              filters:
                - StripPrefix=2
                - name: AuthenticationFilter
              #  - name: CircuitBreaker
              #    args:
              #      name: userService
              #      fallbackUri: forward:/fallback/user               
    logging:
      level:
        org.springframework: INFO
        ru.binarysimple: DEBUG
        org.springframework.cloud.gateway: DEBUG
        io.jsonwebtoken: DEBUG
      
    endpoints:
      users-service: http://{{ .Values.endpoints.users.release }}-{{ .Values.endpoints.users.host }}.{{ .Values.endpoints.users.space }}.svc.cluster.local:{{ .Values.endpoints.users.port }}
      auth-service: http://{{ .Values.endpoints.auth.release }}-{{ .Values.endpoints.auth.host }}.{{ .Values.endpoints.auth.space }}.svc.cluster.local:{{ .Values.endpoints.auth.port }}
      order-service: http://{{ .Values.endpoints.order.release }}-{{ .Values.endpoints.order.host }}.{{ .Values.endpoints.order.space }}.svc.cluster.local:{{ .Values.endpoints.order.port }}
      notif-service: http://{{ .Values.endpoints.notif.release }}-{{ .Values.endpoints.notif.host }}.{{ .Values.endpoints.notif.space }}.svc.cluster.local:{{ .Values.endpoints.notif.port }}
      bill-service: http://{{ .Values.endpoints.bill.release }}-{{ .Values.endpoints.bill.host }}.{{ .Values.endpoints.bill.space }}.svc.cluster.local:{{ .Values.endpoints.bill.port }}
